<div class="m-container">
	<div class="basicInfo">
		<div class="image">
			<img  src="img/A10-1.jpg"/>
		</div>
		<div>
			<table>
				<tr>
					<td class="item-title">姓名：</td>
					<td class="item-content">尹忠甫</td>
					<td class="item-title">性别：</td>
					<td class="item-content">男</td>
				</tr>
				<tr>
					<td class="item-title">求职意向：</td>
					<td class="item-content">前端开发工程师</td>
					<td class="item-title">学历：</td>
					<td class="item-content">硕士</td>
				</tr>
				<tr>
					<td class="item-title">电话：</td>
					<td class="item-content">18215524741</td>
					<td class="item-title">邮箱：</td>
					<td class="item-content">yzf3171@hotmail.com</td>
				</tr>
				<tr>
					<td class="item-title">毕业院校：</td>
					<td class="item-content">电子科技大学</td>
					<td class="item-title">专业：</td>
					<td class="item-content">光学工程</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="section">
		<div class="section-left">
			<span>教育背景</span>
		</div>
		<div class="section-right">
			<table>
				<tr>
					<td class="item-title">2013.09-至今：</td>
					<td class="item-content">电子科技大学</td>
					<td class="item-content">光纤传感与通信教育部重点实验室</td>
				</tr>
				<tr>
					<td class="item-title">2008.09-2012.06：</td>
					<td class="item-content">湘南学院</td>
					<td class="item-content">应用物理</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="section">
		<div class="section-left">
			<span>在校表现</span>
		</div>
		<div class="section-right">
			<table>
				<tr>
					<td class="item-title">2014年：</td>
					<td class="item-content">优秀干部奖学金</td>
					<td class="item-title">2009-2010年:</td>
					<td class="item-content">学院一等奖学金</td>
					<td class="item-content">专业排名：2/50</td>
				</tr>
				<tr>
					<td class="item-title">2013年：</td>
					<td class="item-content">电子科技大学研究生二等奖学金</td>
					<td class="item-title">2008-2009年：</td>
					<td class="item-content">学院三等奖学金</td>
					<td class="item-content">专业排名：16/50</td>
				</tr>
				<tr>
					<td class="item-title">2010-2011年：</td>
					<td class="item-content">学院二等奖学金</td>
					<td class="item-content">专业排名：5/50</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="section">
		<div class="section-left">
			<span>专业技能</span>
		</div>
		<div class="section-right">
			<ul>
				<li>熟悉web的语义化、养成了良好的编程规范</li>
				<li>熟练使用sublime、Dreamweaver、Photoshop、Firebug、各个浏览器的调试控件</li>
				<li>熟悉前端开发环境，如grunt自动构建技术、karma单元测试、git版本控制</li>
				<li>熟悉HTML+CSS的使用、对原生DOOM的操作熟练、了解了jQuery、AngularJS、bootstrap等常用的开发框架与库</li>
			</ul>
		</div>
	</div>
	<div class="section">
		<div class="section-left">
			<span>学习经历</span>
		</div>
		<div class="section-right">
			<span>2015.05-至今: web前端学习</span>
			<ul>
				<li>通过HTML、CSS、Javascript的学习，能尝试做出简易网页，实现了选项卡标签的切换、图片展示、图片轮播、用户提交表单信息。对原生Javascript的逻辑着迷。</li>
				<li>利用Ajax实现过用户注册、登陆、发表评论的表单，接触到PHP和SQL，发现这和前端的交互是息息相关的，以后也可深入学习下。</li>
				<li>利用JSONP做过对百度后台数据及豆瓣网后台数据的抓取，实现百度的搜索框和豆瓣的书单查询，并用DOOM的方式实现AJAX在当前页面的异步刷新。</li>
				<li>对Jquery库的学习，了解了一些常用插件及UI的魅力，强烈想探索库的源码，及实现机制。</li>
				<li>对AngularJS的学习，喜欢它的指令系统，方便于以后的模块封装。以及路由机制方便实现异步单页应用，对双向数据绑定有探索。</li>
			</ul>
			<hr/>
			<span>2014.09-2015.06:国家863基金项目《基于反射型QDSOA的调制特性研究》</span>
			<ul>
				<li>查阅论文,对反射型光放大器应用于调制领域有大致了解。</li>
				<li>建立了新型光放大器QDSOA的数值模型，对数学方法有钻研。</li>
				<li>不断的仿真验证，锻炼了自己排错及验证新方向的耐心，SCI在投。</li>
			</ul>
		</div>
	</div>
	<div class="section">
		<div class="section-left">
			<span>实践经历</span>
		</div>
		<div class="section-right">
			<span>2013.9-2014.6:通信学院研分会实践部部长</span>
			<ul>
				<li>举办过电子科技大学第四届“IT节”，邀请了包括Intel、研华科技、易科士、竞舟等10余家企业代表参与，活动包括物联网产品互动体验，Intel专家的前沿技术分享，模拟面试大赛，走进名企。每次参与同学达400人之多。</li>
				<li>举办过“我与我的导师系列活动”，其中征文活动，获得了100篇征文投稿。在导师和学生的互动中，收到许多老师及学生的积极反馈。</li>
			</ul>
		</div>
	</div>
	<div class="section">
		<div class="section-left">
			<span>自我评价</span>
		</div>
		<div class="section-right">
			<ul>
				<li>性格开朗乐观，能够通过沟通的方式，明晰需求，解决问题。保持一颗乐观及达观之心，能处事不惊。</li>
				<li>做事沉着冷静，对事情的变化能做到随机应变，能冷静判断该如何去处理，情绪控制较好。</li>
				<li>兴趣爱好广泛，能敲得了代码，打的了球，还会游泳，逛技术社区，琢磨新兴事物。</li>
			</ul>
		</div>
	</div>
</div>